@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:700|Ubuntu:700");

* {
  /* border: 1px solid red; */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #346d70;
  color: #cfd5d5;
  font-size: 16px;
}

a {
  text-decoration: none;
  outline: 0;
  color: #cfd5d5;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input,
select,
button {
  font-size: 1.6rem;
}

input {
  /* margin: 10px 0px; */
  background-color: #0c494c;
  color: #cfd5d5;
  border-radius: 8px;
  border: 0px;
  text-align: center;
  min-width: 400px;
  max-width: 800px;
  min-height: 60px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 5px; */
  text-overflow: ellipsis;
  color: #cfd5d5;
  border-radius: 8px;
  border: 0px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 98% 50%;
  background-color: #0c494c;
  outline: none;
  text-align: center;
  padding: 18px 0 18px 0;
  /* min-height: 50px; */
  /* margin: 0.5em 0px; */
}

button {
  min-width: 400px;
  max-width: 800px;
  min-height: 60px;
}

form label {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Webkit start */

/* Removes the date type spinner buttos */
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

/* Webkit end */

/* Banner start */

.banner {
  width: 100%;
  text-align: center;
  background-color: #346d70;
  padding: 20px 0 20px 0;
}

.banner div > h1 {
  font-family: "Signika Negative", sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
  font-size: 6rem;
  color: #cfd5d5;
  /* transform: rotateZ(3deg); */
}

.banner-pulser {
  animation: pulse 700ms ease-in-out infinite alternate;
}

/* Banner end */

/* Tooltips start */

[tooltip] {
  position: relative;
  display: inline-block;
}
[tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: #f2d0b3 transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip-position="left"]::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg);
}
[tooltip-position="top"]::before {
  left: 50%;
}
[tooltip-position="buttom"]::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}
[tooltip-position="right"]::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: #f2d0b3;
  text-align: center;
  color: #000000;
  padding: 4px 2px;
  font-size: 16px;
  min-width: 100px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip-position="left"]::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}
[tooltip-position="top"]::after {
  left: 50%;
}
[tooltip-position="buttom"]::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position="right"]::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input {
  margin-left: 135px;
}

/* Tooltips end */

.navigation {
  /* overflow: hidden; */
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.514);
  /* font-family: "Baloo Chettan"; */
  font-family: "Signika Negative", sans-serif;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #0c494c;
  margin: 0;
  font-size: 1.8rem;
  transition: background-color 100ms linear;
}

.navbar-current {
  background-color: #0c494c;
  transition: background-color 100ms linear;
}

.navbar-current:hover {
  background-color: #002d2f;
  transition: background-color 100ms linear;
}

.nav-menu li:hover {
  background-color: #002d2f;
  transition: background-color 100ms linear;
}

.nav-menu li a {
  display: block;
  padding: 10px 0 10px 0;
}

.nav-dropdown-menu {
  position: relative;
  display: inline;
}

.nav-submenu {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  position: absolute;
  width: 0%;
  right: 0;
  height: 0;
  transition: all 300ms ease-in-out;
}

.nav-dropdown-menu:hover .nav-submenu {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.nav-submenu li {
  font-weight: bold;
  display: block;
  /* padding: 10px 0 10px 0; */
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.514);
}

/* Welcome view start */

.welcome-grid {
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.welcome-grid p {
  font-size: 1.5rem;
}

/* Welcome view end */

/* Profile create form start */

.profile-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-create h1 {
  font-size: 2rem;
  padding: 20px;
  animation: bounce-in 600ms ease-in-out;
}

.profile-create form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-create form section input,
.profile-create form section select {
  width: 100%;
}

::-webkit-datetime-edit {
  text-align: center;
}

/* Profile create form end */

/* Profile edit form start */

.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.profile-edit h1 {
  font-size: 2rem;
  padding: 20px;
  animation: bounce-in 600ms ease-in-out;
}

.profile-edit form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-edit form section input,
.profile-edit form section select {
  width: 100%;
}

/* Profile edit form end */

/* Noms view start */

.noms-grid {
  /* margin: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". greeting ."
    ". calorie-info ."
    " . input . ";
  /* grid-gap: 50px 50px; */
  justify-items: center;
  justify-content: center;
}

.greet-user {
  grid-area: greeting;
  grid-auto-columns: 0 / span 2;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
}

.greet-user:hover {
  animation: wobble 600ms linear;
}

.calorie-display {
  justify-self: center;
  grid-area: calorie-info;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.calorie-display > h1 {
  display: flex;
  /* justify-content: space-between; */
  font-size: 5.5rem;
  font-weight: 800;
}

.calorie-display > h1 span {
  font-weight: 400;
}

.calorie-display p {
  font-size: 1.5rem;
}

.add-calories {
  grid-area: input;
  display: grid;
  grid-template:
    [row1-start] "name i1" auto[row1-end]
    [row2-start] "_weight i2" auto[row1-end]
    [row3-start] "calories i3" auto[row3-end]
    [row4-start] "nom nom" auto[row4-end]
    / auto auto auto auto;
  /* grid-template-areas:
    "name i1 i1"
    "_weight i2 i2"
    "calories i3 i3"
    "nom nom nom"; */
  grid-gap: 5px;
}

.food-name {
  grid-area: name;
  justify-self: center;
}

.food-name + input {
  grid-area: i1;
}

.food-weight {
  grid-area: _weight;
  justify-self: center;
}

.food-weight + input {
  grid-area: i2;
}

.food-calories {
  grid-area: calories;
  justify-self: center;
}

.food-calories + input {
  grid-area: i3;
}

.nom-button {
  grid-area: nom;
  margin-top: 10px;
}

/* label[for="calories"] {
  display: none;
} */

/* Nom view end */

/* Buttons start */

.button-normal {
  border: none;
  outline: none;
  text-align: center;
  background-color: #fafcf4;
  color: #346d70;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-normal:hover {
  background-color: #26d151;
  color: #ffffff;
  transition: background-color 100ms ease-in-out;
}

.button-warn {
  border: none;
  outline: none;
  text-align: center;
  background-color: #ebca85;
  color: #1f2a4a;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-warn:hover {
  background-color: #caaf73;
  transition: background-color 100ms ease-in-out;
}

.button-danger {
  border: none;
  outline: none;
  text-align: center;
  background-color: #fafcf4;
  color: #346d70;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-danger:hover {
  background-color: rgb(223, 1, 1);
  color: #ffffff;
  transition: background-color 100ms ease-in-out;
}

.button-vibrate:hover {
  animation-name: vibrate;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

/* Buttons end */

/* Background colors start */

.bg-color-purple {
  background-color: #9676bb;
}

/*  Background colors end */

/* Border radii start*/

.border-radius-3px {
  border-radius: 2px;
}

.border-radius-6px {
  border-radius: 6px;
}

.border-radius-9px {
  border-radius: 9px;
}

.border-radius-12px {
  border-radius: 12px;
}

.border-radius-15px {
  border-radius: 15px;
}

.border-radius-18px {
  border-radius: 18px;
}

/* Border radii end */

/* Padding start */

.padding-4px {
  padding: 4px;
}

.padding-8px {
  padding: 8px;
}

.padding-12px {
  padding: 12px;
}

.padding-16px {
  padding: 16px;
}

.padding-20px {
  padding: 20px;
}

/* Padding end */

/* Font sizes start */

.font-size-0 {
  font-size: 1.2rem;
}

.font-size-1 {
  font-size: 1.4rem;
}

.font-size-2 {
  font-size: 1.6rem;
}

.font-size-3 {
  font-size: 1.8rem;
}

.font-size-4 {
  font-size: 2rem;
}

.font-size-5 {
  font-size: 2.2rem;
}

/* Font sizes end */

/* Margins start */

.margin-top-0 {
  margin-top: 0;
}
.margin-top-1 {
  margin-top: 2px;
}
.margin-top-2 {
  margin-top: 4px;
}
.margin-top-3 {
  margin-top: 6px;
}
.margin-top-4 {
  margin-top: 8px;
}
.margin-top-5 {
  margin-top: 10px;
}
.margin-top-6 {
  margin-top: 14px;
}
.margin-top-7 {
  margin-top: 18px;
}
.margin-top-8 {
  margin-top: 22px;
}
.margin-top-9 {
  margin-top: 26px;
}
.margin-top-10 {
  margin-top: 30px;
}

/* Margins end */

/* Animations start */

.anim-wobble {
  animation-name: vibrate;
  animation-timing-function: linear;
}

.anim-bounce-in {
  animation: bounce-in ease-in-out;
}

/* Animations end */

/* Animation parameters start */

/* Durations start */

.anim-duration-500 {
  animation-duration: 500ms;
}

.anim-duration-600 {
  animation-duration: 600ms;
}

.anim-duration-700 {
  animation-duration: 700ms;
}

.anim-duration-800 {
  animation-duration: 800ms;
}

/* Durations end */

/* Animation parameters end */

/* Animation keyframes */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.025);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(150, 118, 187, 0.4);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(150, 118, 187, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(150, 118, 187, 0);
  }
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(3px) rotate(2deg);
  }
  66% {
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes wobble {
  15% {
    transform: translateY(5px);
  }
  33% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  66.6% {
    transform: translateY(-0px);
  }
  85% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: lightblue;
  }
}

/* Colors */

/* .color-primary-0 {
  color: #41517c;
} Main Primary color
.color-primary-1 {
  color: #788aba;
}
.color-primary-2 {
  color: #61729e;
}
.color-primary-3 {
  color: #2e3b60;
}
.color-primary-4 {
  color: #1f2a4a;
}

.color-secondary-1-0 {
  color: #5c407d;
} Main Secondary color (1)
.color-secondary-1-1 {
  color: #9676bb;
}
.color-secondary-1-2 {
  color: #7d609f;
}
.color-secondary-1-3 {
  color: #442c60;
}
.color-secondary-1-4 {
  color: #321d4b;
}

.color-secondary-2-0 {
  color: #3a7d64;
} Main Secondary color (2)
.color-secondary-2-1 {
  color: #70bb9e;
}
.color-secondary-2-2 {
  color: #5a9f85;
}
.color-secondary-2-3 {
  color: #28604b;
}
.color-secondary-2-4 {
  color: #194b38;
}

.color-complement-0 {
  color: #b99956;
} Main Complement color
.color-complement-1 {
  color: #ffde99;
}
.color-complement-2 {
  color: #ebca85;
}
.color-complement-3 {
  color: #8e733b;
}
.color-complement-4 {
  color: #6f5725;
} */

.rgba-primary-0 {
  color: rgba(163, 179, 83, 1);
} /* Main Primary color */
.rgba-primary-1 {
  color: rgba(250, 252, 244, 1);
}
.rgba-primary-2 {
  color: rgba(224, 234, 173, 1);
}
.rgba-primary-3 {
  color: rgba(106, 122, 19, 1);
}
.rgba-primary-4 {
  color: rgba(63, 75, 0, 1);
}

.rgba-secondary-1-0 {
  color: rgba(52, 109, 112, 1);
} /* Main Secondary color (1) */
.rgba-secondary-1-1 {
  color: rgba(207, 213, 213, 1);
}
.rgba-secondary-1-2 {
  color: rgba(108, 145, 146, 1);
}
.rgba-secondary-1-3 {
  color: rgba(12, 73, 76, 1);
}
.rgba-secondary-1-4 {
  color: rgba(0, 45, 47, 1);
}

.rgba-secondary-2-0 {
  color: rgba(185, 132, 86, 1);
} /* Main Secondary color (2) */
.rgba-secondary-2-1 {
  color: rgba(255, 251, 248, 1);
}
.rgba-secondary-2-2 {
  color: rgba(242, 208, 179, 1);
}
.rgba-secondary-2-3 {
  color: rgba(126, 69, 20, 1);
}
.rgba-secondary-2-4 {
  color: rgba(78, 36, 0, 1);
}

.rgba-complement-0 {
  color: rgba(118, 56, 120, 1);
} /* Main Complement color */
.rgba-complement-1 {
  color: rgba(218, 212, 218, 1);
}
.rgba-complement-2 {
  color: rgba(156, 117, 158, 1);
}
.rgba-complement-3 {
  color: rgba(80, 13, 82, 1);
}
.rgba-complement-4 {
  color: rgba(49, 0, 51, 1);
}
