@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");

* {
  /* border: 1px solid red; */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #252525;
  color: #dbdbdb;
  font-size: 16px;
}

a {
  text-decoration: none;
  outline: 0;
  color: #dbdbdb;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input {
  /* margin: 10px 0px; */
  background-color: rgb(150, 118, 187);
  color: #dbdbdb;
  border-radius: 10px;
  border: 0px;
  font-size: 1.5rem;
  text-align: center;
  min-width: 400px;
  min-height: 40px;
}

.container {
  width: 100%;
  /* height: 100%; */
  /* margin: 10px 0 10px 0; */
}

/* Webkit start */

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

/* Webkit end */

/* Banner start */

.banner {
  width: 100%;
  text-align: center;
  background-color: #292929;
  padding: 20px 0 20px 0;
  animation: pulse 700ms ease-in-out infinite alternate;
}

.banner > h1 {
  font-family: "Baloo Chettan";
  font-size: 5em;
  color: #ffde99;
  transform: rotateZ(3deg);
}

/* Banner end */

/* Tooltips start */

[tooltip] {
  position: relative;
  display: inline-block;
}
[tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: #e9fa76 transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip-position="left"]::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg);
}
[tooltip-position="top"]::before {
  left: 50%;
}
[tooltip-position="buttom"]::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}
[tooltip-position="right"]::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: #ffde99;
  text-align: center;
  color: #000000;
  padding: 4px 2px;
  font-size: 16px;
  min-width: 100px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip-position="left"]::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}
[tooltip-position="top"]::after {
  left: 50%;
}
[tooltip-position="buttom"]::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position="right"]::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input {
  margin-left: 135px;
}

/* Tooltips end */

.navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.514);
}

.navbar li {
  float: left;
  width: 100vw;
  text-align: center;
  background-color: #9676bb;
  margin: 0;
}

.navbar-current {
  background-color: #8a6cac;
}

.navbar-current:hover {
  background-color: #795f97;
}

.navbar li:hover {
  float: left;
  width: 100vw;
  text-align: center;
  background-color: #795f97;
}

.navbar li a {
  display: block;
  font-weight: bold;
  align-content: space-between;
  padding: 20px 20px;
  min-height: 1.5em;
}

/* Welcome view start */

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.welcome > p {
  font-size: 1.5em;
  /* padding-bottom: 1em; */
  padding-top: 2em;
}

.welcome > section {
  width: 100%;
  background-color: #9676bb;
  padding: 30px;
}

.welcome > section > h1 {
  font-weight: 800;
  font-size: 3em;
  animation: shake 1000ms ease-in-out alternate infinite;
}

.welcome > p + p:hover {
  animation: wobble 500ms ease-in-out;
}

.welcome > p > a {
  border-radius: 2px;
  animation: ripple 1s infinite;
}

/* Welcome view end */

/* Profile form view start */

.profile-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-info h1 {
  font-size: 2em;
  padding: 20px;
  animation: bounce-in 600ms ease-in-out;
}

.profile-info * {
  font-size: 1em;
}

.profile-info form {
  display: flex;
  flex-direction: column;
}

.profile-info > form > section * {
  min-height: 40px;
  min-width: 300px;
  max-width: 400px;
}

.profile-info > form > section > label,
.profile-info > form > label {
  min-height: 1em;
}

.profile-info > form > section > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  text-overflow: ellipsis;
  color: #dbdbdb;
  border-radius: 10px;
  border: 0px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 98% 50%;
  background-color: rgb(150, 118, 187);
  outline: none;
  margin: 0.5em 0px;
}

.profile-info > form > button {
  margin: 0.5em 0px;
}

::-webkit-datetime-edit {
  text-align: center;
}

/* Profile form view end */

/* Noms view start */

.noms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "greeting greeting greeting"
    ". calorie-info ."
    " . input . ";
  grid-gap: 50px 50px;
  justify-items: center;
  justify-content: center;
}

.greet-user {
  grid-area: greeting;
  grid-auto-columns: 0 / span 2;
  font-size: 3rem;
  padding: 10px;
  margin: 0;
  /* border: 1px solid red; */
}

.greet-user:hover {
  animation: wobble 600ms linear;
}

.calorie-display {
  justify-self: center;
  grid-area: calorie-info;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
}

.calorie-display > h1 {
  font-size: 5.5rem;
  font-weight: 800;
}

.calorie-display > h1 span {
  font-weight: 400;
}

.calorie-display p {
  font-size: 1.5rem;
}

.add-calories {
  grid-area: input;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* border: 1px solid red; */
}

.nom-button {
  width: auto;
  margin-top: 10px;
  min-height: 50px;
  min-width: 300px;
  max-width: 600px;
  font-size: 5.5vw;
}

label[for="calories"] {
  display: none;
}

/* Nom view end */

/* Buttons start */

.button-normal {
  border: none;
  outline: none;
  text-align: center;
  background-color: #3a7d64;
  color: #dbdbdb;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-normal:hover {
  background-color: #28604b;
  transition: background-color 100ms ease-in-out;
}

.button-warn {
  border: none;
  outline: none;
  text-align: center;
  background-color: #ebca85;
  color: #1f2a4a;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-warn:hover {
  background-color: #caaf73;
  transition: background-color 100ms ease-in-out;
}

.button-danger {
  border: none;
  outline: none;
  text-align: center;
  background-color: red;
  color: #1f2a4a;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}

.button-danger:hover {
  background-color: rgb(223, 1, 1);
  transition: background-color 100ms ease-in-out;
}

.button-vibrate:hover {
  animation-name: vibrate;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

/* Buttons end */

/* Background colors start */

.bg-color-purple {
  background-color: #9676bb;
}

/*  Background colors end */

/* Border radii start*/

.border-radius-3px {
  border-radius: 2px;
}

.border-radius-6px {
  border-radius: 6px;
}

.border-radius-9px {
  border-radius: 9px;
}

.border-radius-12px {
  border-radius: 12px;
}

.border-radius-15px {
  border-radius: 15px;
}

.border-radius-18px {
  border-radius: 18px;
}

/* Border radii end */

/* Padding start */

.padding-4px {
  padding: 4px;
}

.padding-8px {
  padding: 8px;
}

.padding-12px {
  padding: 12px;
}

.padding-16px {
  padding: 16px;
}

.padding-20px {
  padding: 20px;
}

/* Padding end */

/* Font sizes start */

.font-size-0 {
  font-size: 1.2rem;
}

.font-size-1 {
  font-size: 1.4rem;
}

.font-size-2 {
  font-size: 1.6rem;
}

.font-size-3 {
  font-size: 1.8rem;
}

.font-size-4 {
  font-size: 2rem;
}

.font-size-5 {
  font-size: 2.2rem;
}

/* Font sizes end */

/* Animations start */

.anim-wobble {
  animation-name: vibrate;
  animation-timing-function: linear;
}

.anim-bounce-in {
  animation: bounce-in ease-in-out;
}

/* Animations end */

/* Animation parameters start */

/* Durations start */

.anim-duration-500 {
  animation-duration: 500ms;
}

.anim-duration-600 {
  animation-duration: 600ms;
}

.anim-duration-700 {
  animation-duration: 700ms;
}

.anim-duration-800 {
  animation-duration: 800ms;
}

/* Durations end */

/* Animation parameters end */

/* Animation keyframes */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.025);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(150, 118, 187, 0.4);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(150, 118, 187, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(150, 118, 187, 0);
  }
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(3px) rotate(2deg);
  }
  66% {
    transform: translateX(-3px) rotate(-2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes wobble {
  15% {
    transform: translateY(5px);
  }
  33% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  66.6% {
    transform: translateY(-0px);
  }
  85% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
