<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <title>Calories Tracker</title>
    </head>
    <nav>
    <ul>
        <li><a href="/calories">Your Calories</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    </nav>
    <body>
    <%= yield %>
    </body>
</html>