<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <title>Calories Tracker</title>
    </head>
    <body>
    <div class="banner">
        <div class="banner-pulser">
            <h1>Nom Nom Nom!</h1>
        </div>
    </div>
    <% if !request.fullpath.match?(/welcome|create/) %>
        <ul class="navbar">
            <li><a class="<%= "navbar-current" if request.fullpath.match?(/calories/)%>" href="/calories">Track</a></li>
            <li><a class="<%= "navbar-current" if request.fullpath.match?(/profile/)%>" href="/profile">Profile</a></li>
        </ul>
    <% end %>  
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>