<div class="welcome">
    <h1>Nom Nom Nom!</h1>
    <p>The worlds simplest and most elegant calorie tracker</p>
    <p><a href="/profile/create">>>> Create a profile to get started <<< </a></p>
</div>