<div class="welcome">
    <p>The worlds simplest and most elegant calorie tracker</p>
    <form action="/profile/create">
        <Button class="button-normal border-radius-12px button-vibrate font-size-6 margin-top-10">Get Started</button>
    </form>
</div>