<div class="welcome-grid">
    <p>The worlds simplest and most elegant calorie tracker</p>
    <form id="get-started" action="/profile">
        <Button class="button-normal border-radius-12px button-vibrate font-size-6 margin-top-10" form="get-started">Get Started</button>
    </form>
</div>