<div class="create-profile">
    <form id="create-form" action="/profile" method="post">
        <label for="first-name">First Name</label>
        <input id="first-name"  name="first_name" type="text"/>
        <label for="last-name">Last Name</label>
        <input id="last-name"  name="last_name" type="text"/>
        <label for="date-of-birth">Date of Birth *</label>
        <input id="date-of-birth"  name="date_of_birth" type="date"/>
        <label for="height">Height (cm) *</label>
        <input id="height"  name="height" type="text"/>
        <label for="weight">Weight (kg) *</label>
        <input id="weight"  name="weight" type="text"/>
        <label for="physical-activity-level-id">Activity Level *</label>
        <select id="physical-activity-level-id"  name="physical_activity_level_id" type="text">
            <% for pal in @physical_activity_levels do %>
                <option id="physical-activity-level-id" name="physical_activity_level_id" value="<%= pal.id %>">
                    <%= pal.to_s%>
                </option>
            <% end %>
        </select>
        <button class="button-normal border-radius-12px" form_id="create-form" type="submit" name="button">Create</button>
    </form>
<div>