<div>
    <form id="create-form" action="/calories/profile" method="post">
        <label for="first-name">First Name</label>
        <input id="first-name"  name="first_name" type="text"/>
        <label for="last-name">Last Name</label>
        <input id="last-name"  name="last_name" type="text"/>
        <label for="date-of-birth">Date of Birth</label>
        <input id="date-of-birth"  name="date_of_birth" type="date"/>
        <label for="height">Height</label>
        <input id="height"  name="height" type="text"/>
        <label for="weight">Weight</label>
        <input id="weight"  name="weight" type="text"/>
        <button form_id="create-form" type="submit" name="button">Create</button>
    </form>
<div>