<div>
    Hello <%= @profile.first_name %>
    <a href="/calories/<%= @profile.id %>/profile/edit">Edit Profile</a>
    Delete profile, THIS IS PERMANENT AND YOU WILL LOSE ALL DATA 
    <form action="/calories/<%= @profile.id %>/profile" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
<div>